<form class="profile__form">
  <!-- inputs -->
  <div class="profile__form-data">
    <!-- Username -->
    <div class="form-block">
      <span class="form-block__name">User name</span>
      <input class="form-block__input" type="text" name="username" />
    </div>
    <!-- Password -->
    <div class="form-block">
      <span class="form-block__name">Password</span>
      <input class="form-block__input" type="text" name="password" />
    </div>
    <!-- password confirmation -->
    <div class="form-block">
      <span class="form-block__name">Password confirmation</span>
      <input class="form-block__input" type="text" name="password" />
    </div>
    <!-- buttons -->
    <div class="form-buttons-block">
      <button class="save-button">Save</button>
    </div>
  </div>
</form>
